# Flutter / Dart / IDE
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.metadata
build/

# Android
**/android/.gradle/
**/android/app/debug/
**/android/app/profile/
**/android/app/release/

# iOS
**/ios/Flutter/.last_build_id
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Pods/
**/ios/Runner.xcworkspace/

# macOS
**/macos/Flutter/ephemeral/

# Linux
**/linux/flutter/ephemeral/

# Windows
**/windows/flutter/ephemeral/

# IDE
.idea/
.vscode/
*.iml

# Misc
*.log
.DS_Store
.config/
.home/
.local/
